body{
    font-family: "Poppins",sans-serif;
    background-color: bisque;
    text-align: center;
    padding-top: 10%;
}
h1{
    color: #6b5b95;
}
a{
    display:inline-block;
    margin: 20px;
    padding: 15px 30px;
    background-color: #b8a9c9;
    border-radius: 10px;
}
a:hover {
    background-color: #8a79af;

}
